<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">
</head>

<body>
  <main>
    <% searchResults.forEach(book=> {%>
      <p>
        <%= book.title %>
      </p>
      <p>
          <%= book.authors %>
      </p>
      <img src=<%= book.placeholderImage %> alt="">
      <p>
        <%= book.description %>
    </p>

      <% }) %>

  </main>
</body>

</html>